html, body{
	margin:0px;
}
.vis-network {
	/* background-color: rgb(242, 242, 246); */
}
.wrapper {
	display: flex;
	/* width: 100%; */
	height: 100vh;
}

#network {
	flex: 1;
	border: 0;
}

/*minimap
.hidden{
	display: none;
}

 .minimapRadar {
	position: absolute;
	background-color: rgba(16, 84, 154, 0.16);
	
}

.minimapImage {
	position: absolute;
}

.minimapWrapperIdle {
	opacity: 0.8;
	transition: opacity 0.5s;
}

.minimapWrapperMove {
	opacity: 0.95;
	transition: opacity 0.5s;
} */

/*WINBOX*/
.winbox{
	border-radius:5px !important;
}
.wb-body{
	padding:10px;
	background-color: var(--vscode-editor-background);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
}
.wb-header{
	border-top: 1px solid #0078D4;
}
.wb_title{
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
}

.wb-min{
	background-position: center !important;
	background-size: 12px;;
}
