html,
body {
    margin: 0px;
}
.vis-network {
    color: inherit;
}
.wrapper {
    display: flex;
    /* width: 100%; */
    height: 100vh;
}

#network {
    flex: 1;
    border: 0;
}

/*WINBOX*/
.winbox {
    z-index: 2;
    border: 1px solid #1c1c1c;
	color:#F1FFFF;
	opacity: 0.9;
	min-height: 160px;
}
.winbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: transparent;
    border: 1px solid rgba(49, 49, 49, 0.8);
    border-radius: 10px;
	pointer-events: none;
}

.wb-body {
    padding: 10px;
    background-color: var(--vscode-editor-background);
}
.wb-header {
	padding-left:25px;
	margin-top: -2px;
	color: inherit;
	width: inherit;
    border-bottom: 1px solid rgba(49, 49, 49, 0.8);
	border-radius: 10px;
	background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="512" height="512" version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(0,1,1,0,0,0)"><path d="m337.9 348.2c-7.6 2.7-29.2 5.6-74.6-18.7-49.2-26.4-56.5-48.5-57.6-55.1 0.7-8 0.2-16.1-1.1-23.9l0.3 0.5s-4-21.5 52.3-56.5c50.4-31.3 73.3-25.1 77.6-23.4 2.8 1.8 5.6 3.6 8.6 5.2 5.5445 2.95 11.374 5.3289 17.4 7.1 6.9 6.6 19.7 25.4 21 74.7 1.4 49.7-13.2 68.8-21.2 75.6-8.2 3.7-15.9 8.7-22.7 14.7m105.4-12.3c-3.2-1.7-4.1621-3.267-7.3621-4.567l-0.03789-0.03301s-20.9-9.2-22.7-76.3 19.9-78.5 19.9-78.5l0.0882 0.0213c16.4-8.4 27.312-21.621 36.612-39.121 24.2-45.6 6.9-102.2-38.7-126.5-45.6-24.4-102.2-7.1-126.4 38.6-10 18.7-13.922 37.726-10.822 57.126l0.02177-0.02558s5.5 24.3-51.6 59.8c-57 35.4-82.8 17.8-82.8 17.8-83.991-34.222-121.02 21.724-129.8 38.2-24.2 45.6-6.9 102.2 38.7 126.5 34 18.1 74.1 13 102.3-9.6l0.0123 3e-3s20.188-15.903 79.988 16.297c47.2 25.3 54.2 50.2 55.2 59.5-1.3 34.6 16.8 68.6 49.5 86 45.6 24.2 102.2 6.9 126.4-38.7 24.2-45.6 6.9-102.3-38.7-126.5" clip-rule="evenodd" fill="%230078d4" fill-rule="evenodd"/></g></svg>');
	background-repeat: no-repeat;
	background-position: top 10px left 10px;
	background-size: 16px 16px;
    pointer-events: auto;
    user-select: none;
}
.wb_title {
	margin-top: -2px;
	color: inherit;
	width: inherit;
    font-size: 8px;
    font-family: "Segoe WPC", "Segoe UI", sans-serif;
}

.wb-min {
    background-position: center !important;
    background-size: 8px;
    font-size: 8px;
	margin-right: 2px;
	opacity: 0.7;
}
.wb-min:before {
	margin-top: 3px;
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    right: 7px;
	width:20px;
    bottom: 7px;
    border: 1px solid rgba(49, 49, 49, 0.8);
	border-radius: 20px;
}
.winbox.min{
	width:100px !important;
	color:#a7a7a7;;
}
/* END WINBOX*/

/* ICONS */
.icon {
    padding-left: 10px;
    padding-top: 4px;
	color: #F1FFFF;
	opacity: 0.7;
}
.icon:hover {
    color: #0078d4;
}

.active {
    color: #0078d4;
}

.iconbar {
    border: 1px solid rgba(49, 49, 49, 0.8);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    z-index: 1;
    background-color: #1f1f1f;
	opacity: 0.9;
}
